.cardViewList {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    pointer-events: visibleFill;
    color: #495057;
    margin: 0;
    margin-bottom: 1px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "data info";
    padding: 5px;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;

    .data > * {
      display: flex;
      align-items: center;
    }

    .data {
      text-transform: uppercase;
      grid-area: data;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "dataresource"
        "dataquantity";

      .dataResource {
        grid-area: dataresource;
        h6 {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          padding: 0;
          margin: 0;
        }
      }

      .dataQuantity {
        grid-area: dataquantity;
        p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 14px;
          span {
            font-weight: bold;
          }
        }
      }
    }

    .info > * {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .info {
      text-transform: uppercase;
      grid-area: info;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "updatetag"
        "updateinfo";

      .updateTag {
        grid-area: updatetag;
        h6 {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          padding: 0;
          margin: 0;
        }
      }

      .updateInfo {
        grid-area: updateinfo;
        p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          line-height: 14px;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  .success:hover {
    background: linear-gradient(
      90deg,
      rgba(102, 187, 106, 0.1) 0%,
      rgba(56, 142, 60, 0.1) 100%
    );
  }
  .danger:hover {
    background: linear-gradient(
      90deg,
      rgba(239, 83, 80, 0.1) 0%,
      rgba(211, 47, 47, 0.1) 100%
    );
  }
  .warning:hover {
    background: linear-gradient(
      90deg,
      rgba(255, 167, 38, 0.1) 0%,
      rgba(245, 124, 0, 0.1) 100%
    );
  }
}

@media only screen and (max-width: 768px) {
  .cardViewList {
    li {
      grid-template-columns: 1fr;
      grid-template-areas:
        "data"
        "info";

      .data {
      }

      .info {
        // text-align: left;
      }
    }
  }
}
