.create-provider {
    .add-contact-button {
        margin: 1em 7em 1em 7em;
    }
    .add-resource-button {
        margin: 1em 6.5em 1em 6.5em;
    }
    .contact {
        margin: 1em 2em 1em 2em;
    }
}
